.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defs {
  position: absolute;
  width: 0;
  height: 0;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.symbolMask {
  clip-path: url(#symbolMask);
}

.circleMask {
  clip-path: url(#circleHalfMask);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
