.slide {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.frame {
  width: var(--slide-max-w);
  min-height: var(--slide-min-h);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--grid-margin);
}
